@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #222222;
}
hr {
	width: 475px;
}
/*#slogan {
	font-style: italic;
	font-size: 16px;
	padding-top: 1.25em;
	width: 30em;
	line-height: 1.5em;
}*/
#intro {
	background:url(../images/Profile_Header.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: auto;
	height: 67vh;
	position: relative;
}
#intro div {
    font-size: 1.5em;
    color: #696969;
    position: absolute;
    right: 18%;
    top: 18%;
    margin: 1.5em auto;
}
#bio {
	font-style: italic;
	font-size: .72em;
	padding-top: 1.25em;
	width: 30em;
	line-height: 1.5em;
}

/*#bio {

}*/

h1, h2 {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 1.75em;
}
h2 {
	font-size: 1.25em;
	font-weight: 400;
	text-transform: uppercase;
}

.Work {
	background-color: #696969;
	padding: 20px;
}

nav a {
	color: inherit;
	text-decoration: none;
	margin: 5px 20px;
	font-weight: 500;
	margin-right: 20px auto;
}

header {
	align-content: right;
}

