@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

#wrapper {
	width: 100%;
	border: none;
	}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #222222;
	line-height: 1.5
	}

.navigation {
	background-color: #000000;
	text-align: center;
	}

nav a {
	color: white;
	text-decoration: none;
	font-weight: 500;
	padding: .50em 3em;
	display: inline-block;
	-moz-transition: background-color ease-in-out .2s;
	-o-transition: background-color ease-in-out .2s;
	-webkit-transition: background-color ease-in-out .2s;
	}

	
nav a:hover {
		background-color: #325EE8;
	}

#toggle {
	display: none;
	}

/*LoVe HAte*/


hr {
	width: 80%;
	}

#intro img {
	width: 35%;
	float: left;
	}

#intro {
	background-size: 100%;
	background-repeat:no-repeat;
	}

#intro div {
    font-size: 1.45em;
    color: #696969;
    float: left;
    width: 65%;
    padding: 8% 5% 1% 5%;
	}

h1, h2 {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .05em;
	}

h2 {
	font-size: 1em;
	font-weight: 400;
	}

h3 {
	font-weight: 400;
	font-size: 1.15em;
	letter-spacing: .05em;
	text-transform: uppercase;
	}

label {
	color: white;
	text-decoration: none;
	font-weight: 500;
	padding: .50em 2.5em;
	display: none;
	}

#bio {
	font-style: italic;
	font-size: .72em;
	padding-top: 1.25em;
	max-width: 80%;
	}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	}

#Work {
    padding: 20px;
	}

.project {
	float:left;
	width: 48%;
	position: relative;
	overflow: hidden;
	margin: 1%;
	}

.project img {
	width: 100%;
	display: block;
	}

.project div {
	position: absolute;
	bottom: -85%;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,.5);
	padding: 1em;
	color: #fff;
	transition-duration: .5s;
	}

.project div p {
	bottom: -28%;
	position: relative;
	}

.project:hover div {
	bottom: 0%;
	}

footer {
		text-align: center;
		}

footer a {
		display: inline-block;
		padding: 1em 1.5em;
		margin-bottom: .2em;
		}
footer p {
		/*display: inline-block;*/
		margin-bottom: .2em;
		}

@media only screen and (max-width: 1010px) {

	#bio {
		font-size: .65em;
		padding-top: 1em;
		line-height: 1.5em;
		max-width: 95%;
		}
	#intro div {
	    padding-left:2%;
	    padding-top: 3%;
	    width: 65%;
		}

	.project div {
		padding: .5em;
		}
	hr {
		width: 95%;
		}
	h1 {
		font-size: 1.2em;
		}
	h2 {
		font-size: .8em;
		}
	h3 {
		font-size: 1em;
		}
	}

@media only screen and (max-width: 768px) {

	#intro img {
		width: 60%;
		float: none;
		margin: auto;
		display: block;
		}

	#intro div {
	    padding: 2% 2%;
	    width: 100%;
	    margin: auto;
	    display: block;
		}

	h1 {
		font-size: 1.2em;
		text-align: center;
		}
	h2 {
		font-size: .8em;
		text-align: center;
		}

	h3 {
		font-weight: 700;
		display: inline-block;
		padding: 0 .5em;
		font-size: 1em;
	}

	.project div p {
		display: inline-block;
		padding: 0 .5em;
		font-size: 1em;
	}

	hr {
		width: 90%;
		margin: auto;	
		}

	#bio {
		font-style: italic;
		font-size: .72em;
		padding: 1em 1.5em;
		text-align: center;
		max-width: none;
		}

	.project {
		width: 98%;
		position: relative;
		overflow: hidden;
		margin: 1%;
		text-decoration: none;
		}

	.project div {
		position: relative;
		bottom: 0%;
		width: 100%;
		height: 0%;
		text-align: center;
		background: rgba(0,0,0,0);
		color: #000;
		transition-duration: .5s;
		display: block;
		text-align: center;
		}
	}

@media only screen and (max-width: 600px) {

	nav {
		display: none;
		}
	nav a {
		padding: 1em 2.5em;
		float: none;
		display: block;
		}

	nav a:hover {
			background-color: #325EE8;
		}
	label {
		display: block;
		}

	#toggle:checked + nav {
		display: block;
		}
}




