@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
hr {
	width: 275px;
}
#slogan {
	font-style: italic;
	font-size: 21px;
}
#intro {
	background:url(../images/Boy_new.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	position: relative;
}
#intro div {
    font-size: 2em;
    color: #fff;
    position: absolute;
    right: 20%;
    top: 22%;
}
