@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body { 
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px; 
	font-weight: 300;
	color: #FFFFFF;  
 }

h1 {
	text-align: center;

}
hr {
	margin:auto;
	width: 275px;
}
#slogan {
	text-align: center;
	font-style: italic;
	font-size: 21px;
}

div {
	width: 400px;
	height: 400px;
	border: 2px white solid;
	margin: 20px auto;
}

img {
	width: 100%;
}