@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
hr {
	width: 375px;
}
#slogan {
	font-style: italic;
	font-size: 21px;
	padding-top: 20px;
}
#intro {
	background:url(../images/Profile_Header.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: left;
	height: 90vh;
	position: relative;
}
#intro div {
    font-size: 1.5em;
    color: #696969;
    position: absolute;
    right: 20%;
    top: 22%;
}

h2 {
	font-size: 1em;
	font-weight: 400;
}
